---
---

@import "{{ site.theme }}";

.center, .centre { text-align: center; }

h1.project-name {}

header.page-header {
  background-image: url(/assets/header.png);
  background-position: 0px 60%;
  background-size: 100% auto;

  h1, h2 {
    span {}
    text-shadow: 0px 0px 3px black;
  }
  h2 { color: white; opacity: 0.8; }
}

@media screen and (min-width: 64em){
  .page-header {
    padding: 7rem 6rem;
  }
}

@media screen and (max-width: 64em) and (min-width: 42em){
  .page-header {
    padding: 3rem 4rem;
  }
}

main.main-content {
  h1,h2,h3,h4 { text-align: center; }
}